[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fast-krig = {editable = true, path = "."}
numpy = "*"
pandas = "*"
lasio = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pytest-runner = "*"
pre-commit = "*"
tox = "*"
sphinx = "*"
matplotlib = "*"
seaborn = "*"
imageio = "*"

[requires]
python_version = "3.9"
