[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fast-krig = {editable = true, path = "."}
numpy = "*"
pandas = "*"
lasio = "*"
csci-utils = {git = "https://github.com/csci-e-29/2021sp-csci-utils-tim-a-davis.git"}
gitpython = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pytest-runner = "*"
pre-commit = "*"
tox = "*"
sphinx = "*"
matplotlib = "*"
seaborn = "*"
imageio = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.9"
